html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 80px;
}
.logo,
.btns {
  padding: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

label {
  display: block;
  color: #000;
  font-size: 15px;
}

button.btn {
  border: 2px solid #ddd;
  outline: none;
  padding: 0.8rem 2rem;
  border-radius: 6px;
  margin: 0 3px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
  font-size: 14px;
}
a {
  color: #000;
}

.active {
  background: #e7e4fa;
  padding: 0.8rem 1rem;
  color: #6f65eb !important;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .list-items {
    display: none;
  }

  .nav-btn button:first-child {
    background: #6f65eb;
    outline: none;
    color: #fff;
    font-size: 15px;
  }

  .nav-btn button:last-child {
    display: none;
  }
}
